@model PraiseProvisions.Models.UserProfile

@{
    ViewData["Title"] = "Create";
}

<h2>My Restaurants</h2>

<h4>My Profile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="UserProfiles" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="fullName" class="control-label"></label>
                <input asp-for="fullName" class="form-control" />
                <input asp-for="ID" type="hidden"/>
                <span asp-validation-for="fullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Profile" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <h5><a href="@Url.Action("Index", "Home")">SEARCH</a></h5>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
