body {
    background-image: url("Images/background-restaurant.jpg");
    background-size: cover;
}

a {
    color: rgb(203,47,0);
    text-decoration: none;
}

.nav h2 {
    padding: 0 1em;
}
 
.nav {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0 4em;
    padding: 0 0.4em;
    justify-content: center;
}

h1 {
    font-family: 'Kumar One Outline', cursive;
    color: rgb(203,47,0);
    font-weight: 500;
    font-size: 80px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: rgb(203,47,0);
    font-weight: 400;
    font-size: 25px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
}

.index-main {
    text-align: center;
}

.favicon {
    height: 30px;
    width: 30px;
}

.img-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.single-about {
    margin: 5px auto;
    width: 75%;
}

.about-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    margin-right: 10px;
    padding-bottom: 2px;
}

}

.about {
    width: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.blurb {
    padding: 50px;
    margin: 0 auto;
    background-color: rgb(193, 197, 204);
    font-family: 'Raleway', sans-serif;
}