body {
    background-image: url("Images/background-restaurant.jpg");
    background-size: cover;
}

header {
    background: url(woodtrial.jpg);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

html, body {
    margin: 0;
    padding: 0;
}

a {
    color: #ff0800;
    text-decoration: none;
}

.nav h2 {
    padding: 0 1em;
}
 
.nav {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    width: 100%;
}

div.nav h2 {
    color: white;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #ff0800;
    font-weight: 500;
    font-size: 80px;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(203,47,0);
    font-weight: 400;
    font-size: 20px;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
}


.index-main {
    text-align: center;
}

.favicon {
    height: 30px;
    width: 30px;
}

.img-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: rgba(255,255, 255, 0.8);
    padding: 50px 0px;
}

.single-about {
    margin: 5px auto;
    width: 75%;
}

.about-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    color: rgb(203,47,0);
    margin-right: 10px;
    padding-bottom: 2px;
}

.about {
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 50%;
    padding: 5px;
}

.blurb {
    padding: 50px;
    margin: 0 auto;
    background-color: rgb(193, 197, 204);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1.4em;
}

.search-container{
    text-align: center;
}

.searchBar {
    padding: 10px;
    font-size: 17px;
    height: 45px;
    border: 1px solid #ff0800;
    width: 80%;
    background: #f1f1f1;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.searchButton {
    width: 20%;
    height: 67px;
    padding: 10px;
    background: #ff0800;
    color: white;
    font-size: 17px;
    border: 1px solid #ff0800;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.searchButton:hover {
    background: black;
    border: 2px solid black;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

form.example {
    display: flex;
    width: 40%;
    margin: 0 auto;
}

.thumbnail {
    display: flex;
    justify-content: space-between;
    background-color: #282f32;
    margin-bottom: 30px;
    width: 70%;
    height: 220px;
    color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

.thumbnail img {
    width: 210px;
    height: 100%;
}

.restDetails {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.resultsBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}

.resultSingle {
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

#addToFav {
    width: 20%;
    height: 67px;
    padding: 10px;
    background: #ff0800;
}

#addToFav :hover {
    background: black;
    border: 2px solid black;
}

.chefDetails {
    display: flex; 
    justify-content:center;
    flex-direction: column;
    text-align: center;
}

.restDetails {
    text-align:center;
}

.mButton {
    width: 100px;
    margin-bottom: 10px;
    background: #ff0800;
    color: white;
    border: 2px solid #ff0800;
}

.favDesc {
    display: flex;
    justify-content: center;
    background-color: #ff0800;
    color: white;
    border: 2px solid black;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 25px;  
}

.main-heading {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 70px;
    color: red;
}

.center {
    text-align: center !important;
    font-size: 50px;
    color: #ff0800;
}

.mainProf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    min-height: 400px;
    width: 420px;
    margin: 30px auto;
    border: 1px solid #ff0800;
    border-radius: 5px;
}

.widthBtn {
    width: 200px;
    background-color: #ff0800;
    height: 50px;
    color: white;
    border: 2px solid #ff0800;
    margin-top: 20px;
    font-size: 20px;
}

.labelName {
    font-size: 30px;
    color: red;
}

.profBar {
    padding: 10px;
    font-size: 17px;
    height: 45px;
    border: 1px solid #ff0800;
    width: 80%;
    background: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 30px;
}