<div class="search-container">
    <h3>
        Find Top Restaurants and Celebrity Chef Reviews
    </h3>
    <form class="example" method="POST" asp-controller="Results" asp-action="Index">
        <input type="hidden" name="userId" value="@ViewData["userId"]" />
        <input class="searchBar" type="text" maxlength="30" asp-route-data="searchterm" placeholder="Enter a City" name="search" />
        <button class="searchButton" type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>