<head>
    <link rel="stylesheet" href="StyleSheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Kumar+One+Outline" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>

<body>
    <div class="index-main">
        <h1 class="banner-heading">
            PRAISE + PROVISIONS
        </h1>

        <div class="nav">
            <h2><a href="/UserFavorites">MY RESTAURANTS</a></h2>
            <h2><a href="/AboutUs">ABOUT US</a></h2>
        </div>
        <h3>
            -enter a city-
        </h3>

        <form method="POST">
            <br />
            <input type="text" maxlength="30"/>
            <br />
            <button type="submit">SEARCH</button>
            <br />
        </form>
    </div>
</body>