<div class="img-container">
    <div class="single-about">
        <img class="about"
                src="/Images/tre.jpg"
                alt="Tre"
                onmouseover="this.src='/Images/arrozconpollo.jpg'"
                onmouseout="this.src='/Images/tre.jpg'">
        <div class="about-links">
            <h3>Tre</h3>
            <a href="https://www.linkedin.com/in/earnest-cain/">
                <img src="/Images/linkedin.ico" alt="linkedin" class="favicon" />
            </a>
            <a href="https://github.com/trecain">
                <img src="/Images/github.ico" alt="github" class="favicon" />
            </a>
        </div>
    </div>

    <div class="single-about">
        <img class="about"
                src="/Images/brian.jpg"
                alt="Brian"
                onmouseover="this.src='/Images/steak.jpg'"
                onmouseout="this.src='/Images/brian.jpg'">
        <div class="about-links">
            <h3>Brian</h3>
            <a href="https://www.linkedin.com/in/briancnelson1/">
                <img src="/Images/linkedin.ico" alt="linkedin" class="favicon" />
            </a>
            <a href="https://github.com/chillbnel">
                <img src="/Images/github.ico" alt="github" class="favicon" />
            </a>
        </div>
    </div>

    <div class="single-about">
        <img class="about"
                src="/Images/jamilah.jpg"
                alt="Jamilah"
                onmouseover="this.src='/Images/charcuterie.jpg'"
                onmouseout="this.src='/Images/jamilah.jpg'">
        <div class="about-links">
            <h3>Jamilah</h3>
            <a href="https://www.linkedin.com/in/jamilah-mcwilliams/">
                <img src="/Images/linkedin.ico" alt="linkedin" class="favicon" />
            </a>
            <a href="https://github.com/thejamilah">
                <img src="/Images/github.ico" alt="github" class="favicon" />
            </a>
        </div>
    </div>

    <div class="single-about">
        <img class="about"
                src="/Images/jimmy.jpg"
                alt="Jimmy"
                onmouseover="this.src='/Images/pho.jpg'"
                onmouseout="this.src='/Images/jimmy.jpg'">
        <div class="about-links">
            <h3>Jimmy</h3>
            <a href="https://www.linkedin.com/in/jimmyndev/">
                <img src="/Images/linkedin.ico" alt="linkedin" class="favicon" />
            </a>
            <a href="https://github.com/jimmyn123">
                <img src="/Images/github.ico" alt="github" class="favicon" />
            </a>
        </div>
    </div>

    <div class="single-about">
        <img class="about"
                src="/Images/christina.png"
                alt="Christina"
                onmouseover="this.src='/Images/fishmanlobsterclubhouse.jpg'"
                onmouseout="this.src='/Images/christina.png'">
        <div class="about-links">
            <h3>Christina</h3>
            <a href="https://www.linkedin.com/in/christinagislason/">
                <img src="/Images/linkedin.ico" alt="linkedin" class="favicon" />
            </a>
            <a href="https://github.com/ChristinaGislason">
                <img src="/Images/github.ico" alt="github" class="favicon" />
            </a>
            
        </div>
    </div>
</div>

<div class="blurb">
    <p>We are a diverse team of colleagues who bring our unique perspectives and skills to this project. We are passionate about software development, technology, and applying our newly adopted skills from our training program.</p>
</div>