@model IEnumerable<PraiseProvisions.Models.Restaurant>
@{
    Layout = "_Layout";

}

<body>
    <h2 class="favDescH">Favorites</h2>
    @foreach (var item in Model)
    {
        <div class="favDesc">
            <p>@item.Name</p>
        </div>
    }
</body>
